/* Navbar styling */
.navbar {
    background-color: #4d0606;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar stays on top */
}

/* Left and right tabs */
.left-tabs,
.right-tabs {
    display: flex;
    align-items: center;
}

/* Tab styling */
.tab {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.tab:hover {
    background-color: #9b9b9b;
}

/* Body styling */
body {
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    background-color: rgb(250, 241, 228);
    align-items: center;
    margin: 0;
    padding-top: 50px; /* Ensure content is below navbar */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: relative;
    margin-top: 20px; 
    margin-bottom: 60px;
}


/* Title styling */
#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: inherit;
}

/* Start button styling */
#startButton {
    font-family: inherit;
    background-color: rgb(198, 240, 198);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    border-color: rgb(175, 175, 175);
    margin-top: 20px; /* Add some top margin */
}

/* Display board styling */
#displayboard {
    border: 2px solid black;
    display: none;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    position: relative;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    text-align: center; /* Center text horizontally */
    line-height: 1; /* Reset line-height */
    overflow: hidden;
}
