@{
    ViewData["Title"] = "Admin Page";
}

<script src="~/js/admin-component.js"></script>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    

    <admin-component></admin-component>
   
</div>